// Standalone elements without their own separate components are styled here

.header {
  background-image: linear-gradient(to right, $blue , $green);
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  height: 7.6rem;
  line-height: 7.6rem; 
  text-align: center;
  vertical-align: middle
}

.favourites__header {
  color: $green;
  font-size: 1.4rem;
  font-weight: bold;
  margin: $s-size;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    font-size: $font-size-l;
  }

  .favourites__header {
    font-size: 2rem;
  }
}